<html>
    <head>
        <title>My Weather</title>
    </head>
    <body>

        <form>
            View forecast for city: <input type="text" name="searchcity">
                <input type="Submit" value="Submit">
        </form>

        <h1>Weather forecast for {{city}}, {{country}}</h1>
        <table border="1">
            <tr>
                <th>Date</th><th>Min</th><th>Max</th><th>Description</th>
            </tr>
            {% for day in forecast_list %}
                <tr>
                    <td>{{day[0]}}</td>
                    <td>{{day[1]}}</td>
                    <td>{{day[2]}}</td>
                    {% if "rain" in day[3] %}
                        <td><font color="blue">{{day[3]}}</font></td>
                    {% else %}
                        <td>{{day[3]}}</td>
                    {% endif %}
                </tr>
            {% endfor %}

    </body>
</html>
